*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h"
    "m"
    "f";
    background-image: url(https://lh3.googleusercontent.com/proxy/YQPAiSvrqTCEVe2ne1jpkhN-mY9WGlW39qTuz3N0Wc5-FoM05Dy333rO7yAxL3FhTK06_CWhcjdVK1wGbxuvb00Cr3uSqHS5feTi8eQ0H0bR80qAuduSd0xWlYSSeKqIWU5LYxZwO2slOF1Pf_9nIi6E);
    background-repeat: no-repeat;
    background-size: cover;
}

head{
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabik{
    text-align: center;
    border: lightgreen solid 1px;
    /* height: 20%;
    width: 10%; */
    font-size: 30px;
    margin-bottom: 5%;
}

th,td{
    height: 80px;
    width: 160px;
}

td{
    font-size: 40px;
    font-weight: 800;
}

main{
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opis{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.KDA{
    display: flex;
    justify-content: center;
    align-items: center;
}

.g2{
    display: flex;
    justify-content: center;
    align-items: center;
}

b{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 10px;
}

input{
    width: 4.5vw;
    font-size: 20px;
    text-align: center;
    color: black;
}

.btn{
    background-color: #fff;
    color: magenta;
    border: none;
    font-size: 30px;
}